@import '../../SCSS/root.scss';

.prod-card{
    text-align: center;
}

.prod-card img{
    width: 40%;
    height: 60%;
    border: 1px solid black;
    border-radius: 10px;
}

.prod-card price{
    color: green;
}
.prod-card p{
    margin-bottom: 5%;
}

.modify{
    padding: 0.3rem 1.1rem;
    border : 1px solid;
    background-color: black;
    color: white;
    transition: all 0.6 ease;
    cursor: pointer;
}

.modify:hover{
    background-color: map-get($color, minty-green );
    color: map-get($color, lilac-gray );
    border-radius: 5px;
    box-shadow: 0px 0px 5px 6px map-get($color, sea-green );
    font-weight: map-get($fonweight, ultra-max );
}