@import '../../SCSS/root.scss';

header{
    display: flex;
    flex-direction: row;
    background-color: map-get($color, minty-green );
    width: 100%;
    height: 100px;
    position: fixed;
    box-shadow: 5px 5px 10px 0 map-get($color, sea-green );
    z-index: 999;
    top: 0;
}

header h1 {
    font-family: map-get($fonts, informal );
    font-weight: map-get($fonweight, max );
}
.logo {
    flex: 2;
    margin: 27px;
    color: white;
    align-items: center;
    transition: all .6s ease;
    cursor: pointer;
}

.logo h1:hover{
    color: map-get($color, lightgreen );
}

header nav{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.a{
    color: white;
    font-weight: map-get($fonweight, ultra-max );
    font-size: map-get($fontsize, l );
    transition: all .6s ease;
}

.a:hover{
    text-decoration: underline;
    color: map-get($color, lightgreen );
    text-shadow: 1px 1px 4px map-get($color, lightgreen );
}